

<header class="main-header main-header--two clearfix">

    <div class="main-header-two__bottom">
        <div class="container">
            <div class="main-header-two__bottom-inner clearfix">
                <nav class="main-menu main-menu--1">
                    <div class="main-menu__inner">
                        <div class="left">
                            <div class="logo-box1">
                                <a href="index.html">
                                    <img src="assets/assetssavvy/images/resources/logo-2.png" alt="">
                                </a>
                            </div>
                        </div>
                        <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>
                        <a href="#" class="mobile-nav__toggler"><i class="fa fa-user" style="color:#EA0086;"></i></a>

                        <div class="middle">
                            <ul class="main-menu__list">
                                <!-- <li class="dropdown current">
                                    <a href="index.html">Home</a>
                                    
                                </li> -->
                               
                               
                            </ul>
                        </div>

                        <div class="right">
                            <div class="main-menu__right">
                                <div class="main-menu__right-cart-search">
                                    <div class="main-menu__right-cart-box">
                                        <a routerLink="register"><span class="icon-user"></span></a>
                                    </div>
                                    <div class="main-menu__right-search-box">
                                        <a routerLink="register" class="thm-btn search-toggler">CREAR EMPRESA</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>

            </div>
        </div>
    </div>

</header>