<!-- Offers Start -->
        <div class="main-banner-slider" [hidden]="router.url.includes('/pago')">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="owl-carousel Offers-banner owl-theme">
                            <div class="item">
                                <div class="offer-item">                                
                                    <div class="offer-item-img">
                                        <div class="gambo-overlay"></div>
                                        <img src="assets/assetssuper/images/banners/offer-1.jpg" alt="">
                                    </div>
                                    <div class="offer-text-dt">
                                <!--         <div class="offer-top-text-banner">
                                            <p>Por solo 24 $ USD</p>
                                            <div class="top-text-1">Combo SuperResuelto</div>
                                            <span>27 Kg en variedad de frutas y hortalizas</span>
                                        </div> -->
                                        <a href="#" class="Offer-shop-btn hover-btn">Más info</a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="offer-item">                                
                                    <div class="offer-item-img">
                                        <div class="gambo-overlay"></div>
                                        <img src="assets/assetssuper/images/banners/offer-yogur.jpg" alt="">
                                    </div>
                                    <div class="offer-text-dt">
                                      <!--   <div class="offer-top-text-banner">
                                            <p>Los mejores precios</p>
                                            <div class="top-text-1">Delivery gratis</div>
                                            <span>Frutas y hortalizas</span>
                                        </div> -->
                                      <!--   <a href="#" class="Offer-shop-btn hover-btn">Fruta de la semana</a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="offer-item">                                
                                    <div class="offer-item-img">
                                        <div class="gambo-overlay"></div>
                                        <img src="assets/assetssuper/images/banners/offer-3.jpg" alt="">
                                    </div>
                                    <div class="offer-text-dt">
                                      <!--   <div class="offer-top-text-banner">
                                            <p>Para celebrar</p>
                                            <div class="top-text-1">Gran variedad de licores</div>
                                            <span>Con reparto a domicilio</span>
                                        </div> -->
                                        <a href="#" class="Offer-shop-btn hover-btn">Que contiene?</a>
                                    </div>
                                </div>
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Offers End -->